<div
	id="notification"
	class="toast position-fixed top-0 end-0 m-3"
	role="alert"
	aria-live="assertive"
	aria-atomic="true"
>
	<div class="toast-header">
		<strong class="me-auto">Bootstrap</strong>
		<small>Just now</small>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="toast"
			aria-label="Close"
		></button>
	</div>
	<div id="toast-body" class="toast-body">
		Hello, this is a Bootstrap notification!
	</div>
</div>
