<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head') %>

	<body>
		<%- include('partials/nav') %>
			<!--  -->

			<!-- Contenu principal -->
			<%- include('partials/logUserForm') %>

				<br />
				<!--  -->
				<%- include('partials/footer') %>

					<!-- Inclusion de Bootstrap JS et jQuery -->
	</body>

</html>