<div class="container mt-5">
	<div class="row">
		<!-- Blog Posts Section -->
		<div class="col-md-8">
			<h2>Articles récents</h2>
			<div class="card mb-4">
				<div class="card-header">Post Title 1</div>
				<div class="card-body">
					<p class="card-text">
						This is a summary of the blog post. Click to read
						more...
					</p>
					<a href="/posts/1" class="btn btn-primary"
						>Read More</a
					>
				</div>
				<div class="card-footer text-muted">
					Posted by <a href="/users/1">User 1</a> on January 1,
					2023
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-header">Post Title 2</div>
				<div class="card-body">
					<p class="card-text">
						This is a summary of the blog post. Click to read
						more...
					</p>
					<a href="/posts/1" class="btn btn-primary"
						>Read More</a
					>
				</div>
				<div class="card-footer text-muted">
					Posted by <a href="/users/1">User 1</a> on January 1,
					2023
				</div>
			</div>

			<!-- Repeat similar card components for more posts -->
		</div>

		<!-- Sidebar -->
		<div class="col-md-4">
			<h2>About Me</h2>
			<p class="m-2 mb-3">Short bio about the blog author.</p>
			<h3>Categories</h3>
			<ul class="list-group mb-3">
				<li class="list-group-item mb-1">
					<a href="/category/tech">Tech</a>
				</li>
				<li class="list-group-item mb-1">
					<a href="/category/lifestyle">Lifestyle</a>
				</li>
				<li class="list-group-item mb-1">
					<a href="/category/travel">Travel</a>
				</li>
			</ul>
		</div>
	</div>
</div>
