<div class="container mt-5">
	<h1 class="text-center mb-4">Rédiger un nouvel article</h1>
	<form action="/submit-post" method="POST">
		<div class="form-floating mb-3">
			<input
				type="text"
				class="form-control"
				id="title"
				name="title"
				placeholder="Entrez le titre du billet"
				required
			/>
			<label for="title">Titre</label>
		</div>
		<div class="form-floating mb-3">
			<textarea
				class="form-control"
				id="content"
				name="content"
				placeholder="Écrivez votre contenu ici"
				style="min-height: 200px"
				required
			></textarea>
			<label for="content">Contenu</label>
		</div>
		<div class="form-floating mb-3">
			<select
				style="min-height: 100px"
				class="form-select"
				id="categories"
				name="categories"
				multiple
				required
			>
				<option value="tech">Tech</option>
				<option value="lifestyle">Tekos Lifestyle</option>
				<option value="travel">Travel</option>
			</select>
			<label for="categories">Catégories</label>
		</div>
		<div class="form-floating mb-3">
			<input
				type="text"
				class="form-control"
				id="tags"
				name="tags"
				placeholder="Séparez les tags par des virgules"
				required
			/>
			<label for="tags">Tags</label>
		</div>
		<button type="submit" class="btn btn-primary">Soumettre</button>
	</form>
</div>
