<div class="ifo2_containerInfo">
   <img class="ifo2_info_img1" src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/info-circle.svg" alt="">
   <div class="ifo2_header2Info">


      <img class="ifo2_i_boot" src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/logo_info.png" alt="">


      <div class="ifo2_subcol">
         <div class="ifo2_subcol-n">
            <h2 class="ifo2_contenuInfo">
               Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra
               augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna
               mollis euismod. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis
               euisod.
            </h2>
         </div>


      </div>
   </div>
   <img class="ifo2_info_img2" src="https://elearning.ifocop-experiences.fr/Nouvelle-interface/gradient-ifocop.png"
      alt="">

</div>