<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head.ejs') %>

	<!--  -->
	<%- include('../partials/nav.ejs') %>


		<body>

			<%- include('../partials/contact.ejs') %>



				<!-- Footer-->
				<%- include('../partials/footer.ejs') %>


		</body>

</html>