<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head.ejs') %>
	<%- include('../partials/nav.ejs') %>


		<body class="bg-light">

			<!--  -->
			<%- include('../partials/cv.ejs') %>

				<!-- Footer-->
				<%- include('../partials/footer.ejs') %>

		</body>


</html>