<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head.ejs') %>

	<body class="d-flex flex-column">
		<%- include('../partials/nav.ejs') %>


			<main class="flex-shrink-0">
				<header class="py-5">
					<div class="container px-5 pb-5">
						<div class="row gx-5 align-items-center">
							<div class="col-xxl-5">
								<!-- Header text content-->
								<div class="text-center text-xxl-start">
									<div class="badge bg-gradient-primary-to-secondary text-white mb-4">
										<div class="text-uppercase">
											Web &middot; Development
											&middot; Design
										</div>
									</div>
									<div class="fs-3 fw-light text-muted">
										Eli Azoura
									</div>
									<h1 class="display-3 fw-bolder mb-5">
										<span class="text-gradient d-inline">BACK END 1.5</span>
									</h1>
									<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
										<a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="cv">CV</a>
										<a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projets">Projets</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</header>
				<!-- About Section-->
			</main>
			<!-- Footer-->
			<%- include('../partials/footer.ejs') %>

				<!-- Bootstrap core JS-->

				<!-- Core theme JS-->
	</body>

</html>