<!DOCTYPE html>
<html lang="fr">

<head>
	<%- include('../partials/headBlog.ejs') %>
</head>

<body>
	<%- include('../../partials/nav.ejs') %>

		<!-- Navbar -->
		<%- include('../partials/navBlog') %>

			<h1>Que faire ?!</h1>

			<!-- Footer -->
			<%- include('../partials/footer') %>
</body>

</html>