<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Connexion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form>
               <div class="mb-3">
                  <label for="email" class="form-label">Adresse e-mail</label>
                  <input type="email" class="form-control" id="email" placeholder="Entrez votre adresse e-mail">
               </div>
               <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe">
               </div>
               <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
               </div>
               <button type="submit" class="btn btn-primary w-100">Connexion</button>
            </form>
         </div>
         <div class="modal-footer">
            <a href="#" class="link-primary">Mot de passe oublié ?</a>
         </div>
      </div>
   </div>
</div>